<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Blogen Admin Area</title>
</head>
<body>
  
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse p-0">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="navbar-brand mr-3">Blogen</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="index.html" class="nav-link">Dashboard</a>
          </li>

          <li class="nav-item px-2">
            <a href="posts.html" class="nav-link">Posts</a>
          </li>

          <li class="nav-item px-2">
            <a href="categories.html" class="nav-link">Categories</a>
          </li>

          <li class="nav-item px-2">
            <a href="users.html" class="nav-link">Users</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome Brad</a>

            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
              </a>

              <a href="settings.html" class="dropdown-item">
                <i class="fa fa-gear"></i> Settings
              </a>
            </div>
          </li>

          <li class="nav-item">
            <a href="login.html" class="nav-link">
              <i class="fa fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            Post One
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->

  <section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mr-auto">
          <a href="index.html" class="btn btn-secondary btn-block"><i class="fa fa-arrow-left"></i> Back To Dashboard</a>
        </div>
        <div class="col-md-3">
          <a href="index.html" class="btn btn-success btn-block"><i class="fa fa-check"></i> Save Changes</a>
        </div>
        <div class="col-md-3">
          <a href="index.html" class="btn btn-danger btn-block"><i class="fa fa-remove"></i> Delete Post</a>
        </div>
      </div>
    </div>
  </section>

  <!-- POST EDIT -->

  <section id="edit-post">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Edit Post</h4>
            </div>
            <div class="card-block">
            <form action="">
              <div class="form-group">
                <label for="title" class="form-control-label" value="Post One">Title</label>
                <input type="text" class="form-control">
              </div>

              <div class="form-group">
                <label for="title" class="form-control-label">Category</label>
                <select class="form-control">
                  <option value="" selected>Web Development</option>
                  <option value="">Tech Gadgets</option>
                  <option value="">Business</option>
                  <option value="">Health & Wellness</option>
                </select>
              </div>

              <div class="form-group bg-faded p-3">
                <label for="file">Image Upload</label>
                <input type="file" class="form-control-file" id="file">
                <small id="fileHelp" class="form-text text-nuted">Max Size 3MB</small>
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <textarea name="editor1" class="form-control">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed aperiam quam labore praesentium fugit facilis numquam delectus officia ratione tempore nisi veritatis, quos ducimus laboriosam modi commodi velit deleniti rerum neque fugiat voluptate? Tempore, laborum deleniti dolores rem dolore quos.</textarea>
              </div>
            </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- FOOTER -->

  <footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">Copyright &copy; 2017 Blogen</p>
        </div>
      </div>
    </div>
  </footer>




  <script src="js/jquery.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

  <script>
    CKEDITOR.replace('editor1');
  </script>
  
</body>
</html>